<div ng-view>
	<md-content class="md-padding">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Charts">
				<md-content class="md-padding">
					<md-list>
						<md-subheader class="md-primary">Selecciona una gráfica</md-subheader>
						<md-list-item>
							<a class="md-primary md-hue-1 md-button md-default-theme" ui-sref="charts.eficiencia-terminal">Eficiencia terminal</a>
						</md-list-item>
						<md-list-item>
							<a class="md-primary md-hue-1 md-button md-default-theme" ui-sref="charts.mujeres-en-ingenieria">Muejeres en ingeniería</a>
						</md-list-item>
					</md-list>
					
				</md-content>
			</md-tab>
			<md-tab label="Herramientas">
				<md-content class="md-padding">
					<md-subheader class="md-primary">Selecciona una herramienta</md-subheader>
					<md-list-item>
						<a class="md-primary md-hue-1 md-button md-default-theme" ui-sref="encuentra-tu-universidad">Encuentra tu universidad</a>
					</md-list-item>
					<md-list-item>
						<a class="md-primary md-hue-1 md-button md-default-theme" ui-sref="charts.mujeres-en-ingenieria">Otra Herramienta</a>
					</md-list-item>
				</md-content>
			</md-tab>
			<md-tab label="Other">
				<md-content class="md-padding">
					<p>Otras opciones o modulos</p>
					<ul>
						<li><a ui-sref="charts.eficiencia-terminal">Eficiencia termdfsdfinal</a></li>
						<li><a ui-sref="charts.mujeres-en-ingenieria">Mdgfsdg en ingeniería</a></li>
					</ul>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
